body{
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
    font-style: italic;
}
section{
    width: 100%;
    height: 95vh;
    background-image: url(../images/grey2.jpeg);
    position: relative;
}
.list{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(238, 229, 229);box-shadow: 3px 3px 12px rgba(0,0,0,0.2);
    padding: 10px;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 800;
}
.logo{
    font-family: fantasy;
    color: rgba(149, 32, 216, 0.2);
    font-size: 22px;
}
.p-1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    letter-spacing: 1.5px;
    color: black;
    font-size: 22px;
}
.p-2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    font-size: 60px;
}
.home p{
    line-height: 0%;
    margin: 45px 0px 25px;
}
.home{
    position: absolute;
    left: 15%;
    top: 45%;
    transform: translate(-15%, -42%);
}
.name{
    width: 150px;
    height: 42px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
.school{
    width: 250px;
    height: 42px;
    border-radius: 10px;
    background-color: black;
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: blanchedalmond;
    margin: 0px 10px;
}
.img{
    height: 560px;
    bottom: 40px;
    float: right;
}
#about{
    width: 90%;
    height: 600px;
    background-color: ivory;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.img2{
    height: 250px;
}
.about-text{
    color: rgb(31, 25, 25);
    font-family: fantasy;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    width: 600px;
    font-stretch: wider;
}
#projects{
    width: 100%;
    height: 400px;
    background-color: ivory;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.samples{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(24, 22, 22);
}
img3{
    height: 250px;
}
h2{
    width: 200px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
}
.projects{
    padding: 20px;
}
.projects li{
    padding: 20px;
    font-weight: bolder;
}
.projects-p{

}
.cont{
    color: blanchedalmond;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px solid blanchedalmond;
}
#contact{
    width: 100%;
    height: 300px;
    background-image: url("./images/black13.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-button{
    width: 300px;
    height: 40px;
    background-color: rgb(253, 247, 247);
    color: rgb(10, 10, 10);
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    height: 100px;
    display: flex;
}
.social-icons a{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 212, 212);
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons{
    display: flex;
}
.fa:hover {
    opacity: 0.7;
}
