body{
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
}
section{
    width: 100%;
    height: 95vh;
    background-image: url(../images/grey2.jpeg);
    position: relative;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(238, 229, 229);box-shadow: 3px 3px 12px rgba(0,0,0,0.2);
    padding: 10px;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 800;
}
.logo{
    font-family: fantasy;
    color: rgba(149, 32, 216, 0.2);
    font-size: 22px;
}
.p-1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    letter-spacing: 1.5px;
    color: black;
    font-size: 22px;
}
.p-2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    font-size: 60px;
}
.text-container p{
    line-height: 0%;
    margin: 45px 0px 25px;
}
.text-container{
    position: absolute;
    left: 15%;
    top: 45%;
    transform: translate(-15%, -42%);
}
.name{
    width: 150px;
    height: 42px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
.school{
    width: 250px;
    height: 42px;
    border-radius: 10px;
    background-color: black;
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: blanchedalmond;
    margin: 0px 10px;
}
.img{
    height: 560px;
    bottom: 0%;
    float: right;
}
